<!-- Button trigger modal
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Launch static backdrop modal
</button> 
-->

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card" style="width: 20rem;">
            <img src="./images/bg/qrkbank.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <div class="card-text bg-light">    
                   <input id="exrates" name="exrates" type="text" class="form-control border-0" placeholder="฿">    
                         
                        
                  </div>                                        
                    <div>
                      <p class="p-3 mb-2 bg-warning text-dark">แสกนคิวอาร์แล้วชำระเงิน จากนั้นกดปุ่มสีเขียวยืนยัน</p> 
                        <button id="qrcheckout_qrorder" name="qrcheckout_qrorder" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            <span><img src="./images/bg/Thqricon.jpg"   class="card-img-top" alt="..."  style="width: 85px; higth= 45px;"></span>
                          <i class="bi bi-qr-code"></i>
                           Qr Checkout 
                        </button>                        
                    </div>
                </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>        
      </div>
    </div>
  </div>
</div>
<input type="hidden" id="urlname" name="urlname" value="{{urlname}}" />