
<!-- Modal -->
<div class="modal fade" id="Stop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-bg-info p-3">
         <h1 class="modal-title fs-5" id="staticBackdropLabel">Start Wacth</h1>
      </div> 
      <div class="modal-body text-bg-warning p-3">
        <div>
          <table>
            <tr>
              <td>
                  <button type="button"  id="button-start" class="btn btn-success" data-bs-dismiss="modal">Start</button>
              </td>
              <td>
                   <span>  get stop : <a class="btn btn-primary" href="/"><i class="bi bi-arrow-left"></i></a></span>
              </td>
            </tr>
          </table>
        </div>  
      </div>
    </div>
  </div>
</div>