<!DOCTYPE html>
<html>
    <head>
        <script src="//unpkg.com/brain.js"></script>
        <title>Sig English - AI Speech , Learning Grammar</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <link href="/stylesheets/favicon.ico" rel="shortcut icon" type="image/x-icon" >
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/main.css"> 
        <link rel="stylesheet" href="/stylesheets/mainchat.css">       
        <link rel="stylesheet" href="/stylesheets/panelflipevent.css">     
        <link rel="stylesheet" href="/stylesheets/menucontents.css">  
        <script defer src="/socket.io/socket.io.js"></script>
        <script  defer src="/javascripts/scriptchat.js"></script>     
           
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>        
    </head>
    <body>
<div>
    ddd
</div>
    </body>
</html>